<div id = "center">
	<p id="notice"><% flash.each do |k| %>
	<%= k %>
	<%end%>
	</p>
	<% unless @reservation.listing.image.nil? %>
	<%= image_tag(@reservation.listing.image_url(:thumb).to_s) %>
	<%end%>
</div>

<div class = "container">
  <div id = "center">
  	<div class="row marketing">  
  		<div class="each-listing">
				<h4><%= @reservation.listing.title %></h4>

				<p>
				  <strong>Description:</strong>
				  <%= @reservation.listing.description %>
				</p>

				<p>
				  <strong>Location:</strong>
				  <%= @reservation.listing.location %>
				</p>

				<p>
				  <strong>Check In Date::</strong>
				  <%= @reservation.check_in_date %>
				</p>

				<p>
				  <strong>Check In Date::</strong>
				  <%= @reservation.check_out_date %>
				</p>

				<p>
				  <strong>Total Price:</strong>
				  <%= @reservation.total_price %>
				</p>

			</div>
		</div>